@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");
@import url("components/container.css"); 
@import url("components/avatar.css"); 
@import url("components/button.css"); 
@import url("components/banner.css"); 
@import url("components/card.css"); 


body {
 	font-family: lora, sans-serif;
 	font-size: 18px;
 	color: white;
}
h1 {
	font-family: roboto, sans-serif;
	font-size: 22px;
	font-weight: bolder;
	color: white;
}
a { text-decoration: none; }
