.banner {
	background-image: url(../../images/image.jpg);
	padding: 150px 0px; 
	height: 100px;
	width: 1300px;
	object-fit: cover;
  	object-position: center;
  	background-size: cover;
	background-position: center ;
	filter: sepia(30%)
}
.banner h1 { 
	font-size:40px 
}


.banner p { 
	font-size: 27px 
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 35px;
}